.wrapper{
    max-width: 1400px;
    width: 100%;
    padding: var(--spacing-normal);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include for-desktop-up{
        align-items: flex-start;
    }
}
.caption{
    text-decoration: none;
    color: $primary-white;
}

.hero-sub-heading{
    text-align: center;
    @include for-desktop-up{
        text-align: left;
    }
}